openapi: 3.0.1
info:
  title: Polymarket CLOB API
  version: '1.0'
servers:
  - url: 'https://clob.polymarket.com'
tags:
  - name: price
paths:
  /books:
    post:
      tags:
        - book
      operationId: book_detail
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BookDetailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookDetail"
  /prices:
    post:
      tags:
        - price
      operationId: price_detail
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDetailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/PriceDetailResponse"
components:
  schemas:
    BookDetailRequest:
      type: object
      properties:
        token_id:
          type: string
    PriceDetailRequest:
      type: object
      properties:
        token_id:
          type: string
        side:
          type: string
          enum:
            - BUY
            - SELL
    BookDetail:
      type: object
      properties:
        market:
          type: string
        asset_id:
          type: string
        timestamp:
          type: string
        hash:
          type: string
        min_order_size:
          type: string
        tick_size:
          type: string
        neg_risk:
          type: boolean
          default: false
        last_trade_price:
          type: string
        bids:
          type: array
          items:
            $ref: "#/components/schemas/BookPrice"
        asks:
          type: array
          items:
            $ref: "#/components/schemas/BookPrice"
    BookPrice:
      type: object
      properties:
        price:
          type: string
        size:
          type: string
    PriceDetailResponse:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/TokenBestPrice'
    TokenBestPrice:
      type: object
      properties:
        BUY:
          type: number
          format: double
          minimum: 0
          maximum: 1
        SELL:
          type: number
          format: double
          minimum: 0
          maximum: 1
      minProperties: 1
      maxProperties: 1
