openapi: 3.0.1
info:
  title: Polymarket GAMMA API
  version: '1.0'
servers:
  - url: 'https://gamma-api.polymarket.com'
tags:
  - name: event
paths:
  /events/slug/{slug}:
    get:
      tags:
        - event
      operationId: event_detail
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/EventDetail"
components:
  schemas:
    ImageOptimized:
      type: object
      properties:
        id:
          type: string
        imageUrlSource:
          type: string
        imageUrlOptimized:
          type: string
        imageSizeKbSource:
          type: number
        imageSizeKbOptimized:
          type: number
        imageOptimizedComplete:
          type: boolean
        imageOptimizedLastUpdated:
          type: string
        relID:
          type: number
        field:
          type: string
        relname:
          type: string
    Category:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        parentCategory:
          type: string
        slug:
          type: string
        publishedAt:
          type: string
        createdBy:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Tag:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        slug:
          type: string
        forceShow:
          type: boolean
        publishedAt:
          type: string
        createdBy:
          type: number
        updatedBy:
          type: number
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        forceHide:
          type: boolean
        isCarousel:
          type: boolean
    FeeSchedule:
      type: object
      properties:
        exponent:
          type: number
        rate:
          type: number
        takerOnly:
          type: boolean
        rebateRate:
          type: number
    Chat:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        channelName:
          type: string
        channelImage:
          type: string
        live:
          type: boolean
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
    Collection:
      type: object
      properties:
        id:
          type: string
        ticker:
          type: string
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        collectionType:
          type: string
        description:
          type: string
        tags:
          type: string
        image:
          type: string
        icon:
          type: string
        headerImage:
          type: string
        layout:
          type: string
        active:
          type: boolean
        closed:
          type: boolean
        archived:
          type: boolean
        new:
          type: boolean
        featured:
          type: boolean
        restricted:
          type: boolean
        isTemplate:
          type: boolean
        templateVariables:
          type: string
        publishedAt:
          type: string
        createdBy:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        commentsEnabled:
          type: boolean
        imageOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        iconOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        headerImageOptimized:
          $ref: "#/components/schemas/ImageOptimized"
    Market:
      type: object
      properties:
        id:
          type: string
        question:
          type: string
        conditionId:
          type: string
        slug:
          type: string
        twitterCardImage:
          type: string
        resolutionSource:
          type: string
        endDate:
          type: string
          format: date-time
        category:
          type: string
        ammType:
          type: string
        liquidity:
          type: string
        sponsorName:
          type: string
        sponsorImage:
          type: string
        startDate:
          type: string
          format: date-time
        xAxisValue:
          type: string
        yAxisValue:
          type: string
        denominationToken:
          type: string
        fee:
          type: string
        image:
          type: string
        icon:
          type: string
        lowerBound:
          type: string
        upperBound:
          type: string
        description:
          type: string
        outcomes:
          type: string
        outcomePrices:
          type: string
        volume:
          type: string
        active:
          type: boolean
        marketType:
          type: string
        formatType:
          type: string
        lowerBoundDate:
          type: string
        upperBoundDate:
          type: string
        closed:
          type: boolean
        marketMakerAddress:
          type: string
        createdBy:
          type: number
        updatedBy:
          type: number
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        closedTime:
          type: string
        wideFormat:
          type: boolean
        new:
          type: boolean
        mailchimpTag:
          type: string
        featured:
          type: boolean
        archived:
          type: boolean
        resolvedBy:
          type: string
        restricted:
          type: boolean
        marketGroup:
          type: number
        groupItemTitle:
          type: string
        groupItemThreshold:
          type: string
        questionID:
          type: string
        umaEndDate:
          type: string
        enableOrderBook:
          type: boolean
        orderPriceMinTickSize:
          type: number
        orderMinSize:
          type: number
        umaResolutionStatus:
          type: string
        curationOrder:
          type: number
        volumeNum:
          type: number
        liquidityNum:
          type: number
        endDateIso:
          type: string
        startDateIso:
          type: string
        umaEndDateIso:
          type: string
        hasReviewedDates:
          type: boolean
        readyForCron:
          type: boolean
        commentsEnabled:
          type: boolean
        volume24hr:
          type: number
        volume1wk:
          type: number
        volume1mo:
          type: number
        volume1yr:
          type: number
        gameStartTime:
          type: string
        secondsDelay:
          type: number
        clobTokenIds:
          type: string
        disqusThread:
          type: string
        shortOutcomes:
          type: string
        teamAID:
          type: string
        teamBID:
          type: string
        umaBond:
          type: string
        umaReward:
          type: string
        fpmmLive:
          type: boolean
        volume24hrAmm:
          type: number
        volume1wkAmm:
          type: number
        volume1moAmm:
          type: number
        volume1yrAmm:
          type: number
        volume24hrClob:
          type: number
        volume1wkClob:
          type: number
        volume1moClob:
          type: number
        volume1yrClob:
          type: number
        volumeAmm:
          type: number
        volumeClob:
          type: number
        liquidityAmm:
          type: number
        liquidityClob:
          type: number
        makerBaseFee:
          type: number
        takerBaseFee:
          type: number
        customLiveness:
          type: number
        acceptingOrders:
          type: boolean
        notificationsEnabled:
          type: boolean
        score:
          type: number
        imageOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        iconOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        events:
          type: array
          items: {}
        categories:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        tags:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
        creator:
          type: string
        ready:
          type: boolean
        funded:
          type: boolean
        pastSlugs:
          type: string
        readyTimestamp:
          type: string
          format: date-time
        fundedTimestamp:
          type: string
          format: date-time
        acceptingOrdersTimestamp:
          type: string
          format: date-time
        competitive:
          type: number
        rewardsMinSize:
          type: number
        rewardsMaxSpread:
          type: number
        spread:
          type: number
        automaticallyResolved:
          type: boolean
        oneDayPriceChange:
          type: number
        oneHourPriceChange:
          type: number
        oneWeekPriceChange:
          type: number
        oneMonthPriceChange:
          type: number
        oneYearPriceChange:
          type: number
        lastTradePrice:
          type: number
        bestBid:
          type: number
        bestAsk:
          type: number
        automaticallyActive:
          type: boolean
        clearBookOnStart:
          type: boolean
        chartColor:
          type: string
        seriesColor:
          type: string
        showGmpSeries:
          type: boolean
        showGmpOutcome:
          type: boolean
        manualActivation:
          type: boolean
        negRiskOther:
          type: boolean
        gameId:
          type: string
        groupItemRange:
          type: string
        sportsMarketType:
          type: string
        line:
          type: number
        umaResolutionStatuses:
          type: string
        pendingDeployment:
          type: boolean
        deploying:
          type: boolean
        deployingTimestamp:
          type: string
          format: date-time
        scheduledDeploymentTimestamp:
          type: string
          format: date-time
        rfqEnabled:
          type: boolean
        eventStartTime:
          type: string
          format: date-time
        feesEnabled:
          type: boolean
        feeSchedule:
          $ref: "#/components/schemas/FeeSchedule"
    Series:
      type: object
      properties:
        id:
          type: string
        ticker:
          type: string
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        seriesType:
          type: string
        recurrence:
          type: string
        description:
          type: string
        image:
          type: string
        icon:
          type: string
        layout:
          type: string
        active:
          type: boolean
        closed:
          type: boolean
        archived:
          type: boolean
        new:
          type: boolean
        featured:
          type: boolean
        restricted:
          type: boolean
        isTemplate:
          type: boolean
        templateVariables:
          type: boolean
        publishedAt:
          type: string
        createdBy:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        commentsEnabled:
          type: boolean
        competitive:
          type: string
        volume24hr:
          type: number
        volume:
          type: number
        liquidity:
          type: number
        startDate:
          type: string
          format: date-time
        pythTokenID:
          type: string
        cgAssetName:
          type: string
        score:
          type: number
        events:
          type: array
          items: {}
        collections:
          type: array
          items:
            $ref: "#/components/schemas/Collection"
        categories:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        tags:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
        commentCount:
          type: number
        chats:
          type: array
          items:
            $ref: "#/components/schemas/Chat"
    EventCreator:
      type: object
      properties:
        id:
          type: string
        creatorName:
          type: string
        creatorHandle:
          type: string
        creatorUrl:
          type: string
        creatorImage:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Template:
      type: object
      properties:
        id:
          type: string
        eventTitle:
          type: string
        eventSlug:
          type: string
        eventImage:
          type: string
        marketTitle:
          type: string
        description:
          type: string
        resolutionSource:
          type: string
        negRisk:
          type: boolean
        sortBy:
          type: string
        showMarketImages:
          type: boolean
        seriesSlug:
          type: string
        outcomes:
          type: string
    EventDetail:
      type: object
      properties:
        id:
          type: string
        ticker:
          type: string
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        resolutionSource:
          type: string
        startDate:
          type: string
          format: date-time
        creationDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        image:
          type: string
        icon:
          type: string
        active:
          type: boolean
        closed:
          type: boolean
        archived:
          type: boolean
        new:
          type: boolean
        featured:
          type: boolean
        restricted:
          type: boolean
        liquidity:
          type: number
        volume:
          type: number
        openInterest:
          type: number
        sortBy:
          type: string
        category:
          type: string
        subcategory:
          type: string
        isTemplate:
          type: boolean
        templateVariables:
          type: string
        published_at:
          type: string
        createdBy:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        commentsEnabled:
          type: boolean
        competitive:
          type: number
        volume24hr:
          type: number
        volume1wk:
          type: number
        volume1mo:
          type: number
        volume1yr:
          type: number
        featuredImage:
          type: string
        disqusThread:
          type: string
        parentEvent:
          type: string
        enableOrderBook:
          type: boolean
        liquidityAmm:
          type: number
        liquidityClob:
          type: number
        negRisk:
          type: boolean
        negRiskMarketID:
          type: string
        negRiskFeeBips:
          type: number
        commentCount:
          type: number
        imageOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        iconOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        featuredImageOptimized:
          $ref: "#/components/schemas/ImageOptimized"
        subEvents:
          type: array
          items:
            type: string
        markets:
          type: array
          items:
            $ref: "#/components/schemas/Market"
        series:
          type: array
          items:
            $ref: "#/components/schemas/Series"
        categories:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        collections:
          type: array
          items:
            $ref: "#/components/schemas/Collection"
        tags:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
        cyom:
          type: boolean
        closedTime:
          type: string
          format: date-time
        showAllOutcomes:
          type: boolean
        showMarketImages:
          type: boolean
        automaticallyResolved:
          type: boolean
        enableNegRisk:
          type: boolean
        automaticallyActive:
          type: boolean
        eventDate:
          type: string
        startTime:
          type: string
          format: date-time
        eventWeek:
          type: number
        seriesSlug:
          type: string
        score:
          type: string
        elapsed:
          type: string
        period:
          type: string
        live:
          type: boolean
        ended:
          type: boolean
        finishedTimestamp:
          type: string
          format: date-time
        gmpChartMode:
          type: string
        eventCreators:
          type: array
          items:
            $ref: "#/components/schemas/EventCreator"
        tweetCount:
          type: number
        chats:
          type: array
          items:
            $ref: "#/components/schemas/Chat"
        featuredOrder:
          type: number
        estimateValue:
          type: boolean
        cantEstimate:
          type: boolean
        estimatedValue:
          type: string
        templates:
          type: array
          items:
            $ref: "#/components/schemas/Template"
        spreadsMainLine:
          type: number
        totalsMainLine:
          type: number
        carouselMap:
          type: string
        pendingDeployment:
          type: boolean
        deploying:
          type: boolean
        deployingTimestamp:
          type: string
          format: date-time
        scheduledDeploymentTimestamp:
          type: string
          format: date-time
        gameStatus:
          type: string
